form#taxes.form-horizontal(action='/taxes', method='POST')

  #production-lines
    h4 
      | Production Lines 
      button#add-production-line.btn.btn-success.btn-xs(type='button') &plus;

  :coffeescript
      $('#add-production-line').click -> 
        $.get('/taxes/new.js', (result) ->
         $('#production-lines').append(result);
        )

  button.btn.btn-primary(type='submit') File Taxes

