extends ../layout/default

block content
  .row
    .col-md-8.col-md-offset-2

      h3 Prepare Taxes

      .alert.alert-info
        p To prepare your moon mining taxes, fill out the following form. 
        p We'll calculate what you owe given how long you're mining something for and it's average Jita cost.
        p 
          | Click the 
          strong &plus; 
          | to add a new production line.

      - if (error)
        .alert.alert-danger
          strong Crap!
          = error

      include _form
